<div class="main-title container">
    <img src="/assets/img/seeds.png">
    <div id="title">Burgers</div>
</div>

<div id="lettuce"></div>

<div class="form">
    <h2>Place Your Order</h2>
    <form class="create-form">
        <div class="form-group">
            <label for="bur">Burger Name:</label>
            <input type="text" id="bur" name="name">
        </div>
    
        <button type="submit" id="add">Add Order</button>
    </form>
</div>

<div class="orders-section">
    <h2 id="ordered">Burgers Ordered</h2>
    
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger_block devoured=true}}
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="devoured-section">
    <h2 id="devoured">Burgers Eaten</h2>
    
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burger_block devoured=false}}
            {{/if}}
        {{/each}}
    </ul>
</div>

<footer></footer>