body {
    background-color: orange;
}
img {
    width: 95%;
    height: 200px;
    margin-top: 10px;
    margin-right: 25px;
    border-radius: 40px;
}
#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
}
.main-title {
    background-color: rgb(189, 132, 58);
    text-align: center;
    font-family: arial;
    border-radius: 20px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding-bottom: 2px;
    position: relative;
}
.orders-section {
    background-color: rgb(95, 121, 43);
    float: left;
    width: 50%;
    font-family: arial;
    border-radius: 20px;
}
.devoured-section {
    background-color: rgb(163, 50, 50);
    float: left;
    width: 50%;
    font-family: arial;
    border-radius: 20px;
}
#devoured {
    text-align: center;
    font-family: arial;
}
#ordered {
    text-align: center;
    font-family: arial;
}
.form {
    clear: both;
    width: 100%;
    background-color: rgb(255, 203, 31);
    text-align: center;
    font-family: arial;
    padding-top: .25%;
    padding-bottom: 1%;
    border-radius: 20px;
}
input {
    border-radius: 6px;
    border-style: none;
    border-width: 4px;
}
#add {
    border-radius: 6px;
    border-style: none;
    background-color: goldenrod;
}
#add:hover {
    border-radius: 8px;
}
.change-devoured {
    border-radius: 6px;
    border-style: none;
    background: none;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    font-size: 13px;
}
.change-devoured:hover {
    font-size: 14px;
    margin-right: -2px;
}
.delete-burger {
    border-radius: 6px;
    border-style: none;
    background: none;
    font-size: 20px;
}
.delete-burger:hover {
    color: red;
}
footer {
    padding: 20px;
    clear: both;
    background: rgb(189, 132, 58);
    border-radius: 20px;
}
#lettuce {
    background-color: seagreen;
    padding: 1%;
    border-radius: 20px;
}